html {
    scroll-behavior: smooth;
}

footer {
    background-color: rgb(13, 26, 83);
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 0;
}
.footer-nav, .footer-copy {
    display: flex;
    justify-content: space-around;
}
.footer-nav-address {
    display: flex;
    flex-direction: column;
    color: white;
}

.footer-logo {
    margin-bottom: 25px;
    box-shadow: 0px 0px 250px #fff
}

.footer-nav-address > address > a {
    text-decoration: underline;
    color: white;
}

.footer-nav-address > address > a:hover {
    text-decoration: none;
}

.footer-tel {
    width: fit-content;
    text-decoration: none !important;
    display: block;
}

.footer-links {
    display: flex;
    justify-content: space-between;
}

.footer-link-section {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
}
.footer-link-section:last-child {
    margin-right: 0;
}

.link-section-header {
    width: -webkit-fill-available;
    font-family: 'Andika', sans-serif;
    color: rgb(35, 172, 149);
    font-weight: 400;
    font-size: 18px;
}

.section-links {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    gap: 10px;
}

.section-links > a {
    color: #fff;
    text-decoration: none;
    width: fit-content;
}

.section-links > a:hover {
    color: #919191;
    text-decoration: underline;
}

.footer-copy > p{
    font-family: 'Andika', sans-serif;
    color: #909090;
}

@media screen and (max-width: 762px) {
    .footer-nav {
        flex-direction: column;
        margin: 0 10%;
    }
}