@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

* {
    /* user-select: none; */
    font-family: 'Roboto Slab', serif;
    
}

*::selection {
    background-color: rgb(182, 182, 182);
    border-radius: 20px;
}

body {
    margin: 0;
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-track {
    background-color:#598cbd;
}

body::-webkit-scrollbar-thumb {
    background-color: #28527A;
    border-radius: 5px; 
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #175085;
    cursor: grab;
}

body::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
}

footer {
    background-color: #28527A;
}

.header {
    background-color: white;
    background-image: url("https://i.ibb.co/GVtBfqL/campanile-clock-tower-berkeley-Ekw-FCde-max-2880x1800-1-1024x683.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar {
    background-color: #28527A;
    padding: 0 0 0 3%;
    position: sticky;
    top: 0px;
    display: flex;
    z-index: 7;
}

.navTop {
    padding: 0 0 0 22px;
    padding-left: 30%;
    transition: padding-left 1s ease-out;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 20px;
    align-self: center;
}

.navbar a:hover {
    background: #8AC4D0;
}

.mainLinks {
    align-self: center;
}

.mainLinks > a {
    padding: 20px;
}

.navHomeButton {
    display: none;
    padding: 20px;
}

.navHomeButtonOn {
    display: inline;
}

.logo {
    margin-left: 3%;
    width: fit-content;
}

.main {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #f7f7f8;
}

.main > section {
    color: white;
    font-size: 22px;
    background-image: url('https://images.unsplash.com/photo-1582560474992-385ebb9b29a4?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'), linear-gradient(to right, #000000, #ff0000);
    background-position: center;
    height: 400px;
}
.labmg { 
    background-color: #000000a9;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    background-clip: border-box;
}

.lab {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
}

.lab > h2 {
    letter-spacing: 2px;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    /* width: 80%; */
    align-items: center;
    justify-content: center;
    padding: 50px 0 0 0;
}

.goals {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 40%;
    font-family: "Mulish", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    margin-bottom: 15px;
}

.goals > h1 {
    margin: 0 0 10px 0;
    text-align: center;
}

.goals > p {
    text-align: center; 
    word-spacing: 2px;
    font-size: 16px;
    margin: 0 0 15px 0;
}

.redline {
    margin: 10px 0;
    width: 150px;
    height: 13px;
    background-color: #ec0836;
}

.link-section-header {
    color: #F4D160;
}