@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

* {
    /* user-select: none; */
    font-family: 'Roboto Slab', serif;
}

*::selection {
    background-color: rgb(182, 182, 182);
    border-radius: 20px;
}

body {
    margin: 0;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background-color:#ff977a;
}

body::-webkit-scrollbar-thumb {
    background-color: #FA4616;
    border-radius: 5px; 
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #ff2002; 
}

.header {
    background-color: white;
    background-image: url("https://i.ibb.co/GVtBfqL/campanile-clock-tower-berkeley-Ekw-FCde-max-2880x1800-1-1024x683.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.navbar {
    background-color: #FA4616;
    padding: 0 0 0 3%;
    position: sticky;
    top: 0px;
    display: flex;
}
.navbar a {
    padding: 20px;
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.navbar a:hover {
    background: #ff6236;
}

.currentPage {
    background-color: #c03913;
}

.logo {
    margin-left: 3%;
    width: fit-content;
}
.main {
    position: static;
    display: flex;
    flex-direction: column;
}
.admission-page-title {
    margin: 25px 0 0 0;
    justify-self: left;
    text-transform: uppercase;
    width: 100%;
    align-items: center;
    display: flex;
}

.admission-page-title::before, .admission-page-title::after {
    background-color: #FA4616;
    content: "";
    display: inline-block;
    height: 3px;
    position: relative;
}
.admission-page-title::before {
    width: 7%;
    margin: 0;
    vertical-align: middle;
}
.admission-page-title::after {
    width: 100%;
}

.adp-title-ap {
    font-weight: 700;
    padding-left: 25px;
    color: #FA4616;
}

.adp-title-fm {
    font-weight: 400;
    padding: 0 25px;
    color: #142883;
}

.adp-title-fm, .adp-title-ap {
    font-family: 'Martian Mono', monospace;
    font-size: 2em;
    letter-spacing: 1.6px;
}

.main-container {
    display: flex;
}

.side-container {
    padding-left: 20%;
}

.left-navi {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.left-nav-header {
    font-family: 'Martian Mono', monospace;
    font-size: 1.5em;
    color: #142883;
    text-transform: capitalize;
}

.left-nav-list {
    border-left: #FA4616 solid 5px;
    list-style-type: none;
    margin: 0;
    padding-left: 5%;
}

.nav-list-a {
    text-decoration: none;
    color: #142883;
    font-family: 'Martian Mono', monospace;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: -1px;
    width: 100%;
    height: 100%;
    display: block;
    padding: 15px 0;
}

.nav-list-li {
    border-bottom: 2px solid #c7c7c7;
}

.nav-list-li:last-child {
    border-bottom: none;
}

.nav-list-a:hover {
    background-color: #d1ecf1;
}

.nav-list-sublist {
    padding-left: 5%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s cubic-bezier(0, 0, 0.2, 1);
}

.nav-list-sublist-li {
    border-top: 2px solid #c7c7c7;
}
.nav-with-sub-un {
    cursor: pointer;
}
.nav-with-sub-un::after, .ma-sum::after {
    content: '+';
    float: right;
    padding-right: 3%;
}

.nav-with-sub::after, .sum-collapsed::after {
    content: '-';
}

.expanded {
    max-height: 500px;
    transition: max-height 2s cubic-bezier(0, 0, 0.2, 0.5);
}

.main-content {
    width: 60%;
}

.center-container {
    padding: 0 5%;
    display: flex;
    flex-direction: column;

}

.center-container > h1 {
    text-transform: uppercase;
    font-size: 2.5em;
    color: white;
    background-color: #142883;
    padding: 25px;
    font-family: 'Young Serif', serif;
    letter-spacing: 2px;
}

.center-container > h3 {
    color: #142883;
    background-color: #d1ecf1;
    padding: 35px 45px;
    border-radius: 22px;
}

.main-article {
    margin-bottom: 15px;
}

.main-article:last-child {
    margin-bottom: 40px;
}

.main-article > details > div {
    color: #142883;
    border: 2px solid #142883;
    border-top: none;
    border-radius: 0 0px 22px 22px;
    margin: 0;
    padding: 25px 35px;
}

.main-article > details > div > p {
    font-family: 'Martian Mono', monospace;
}

.ma-sum {
    cursor: pointer;
    color: #142883;
    border: 2px solid #142883;
    font-family: 'Martian Mono', monospace;
    font-weight: 700;
    list-style: none;
    padding: 25px 35px;
}
abbr {
    text-decoration: none;
    border-bottom: 1px dotted;
}

.ac-listing > li {
    list-style: none;
}

.ac-listing > li::before {
    content: "■";
    color: #fa4616;
    font-weight: bold;
    display: inline-block; 
    font-size: 30px;
    margin-right: 15px;
}

@media screen and (max-width: 762px){
    .left-navi { /* TODO! This is temporary hidden, needs to be rendered otherwise */
        display: none;
    }
    .main-content {
        width: 100%;
    }
    .center-container > h1 {
        font-size: 1.5em;
    }
    .center-container > h3 {
        font-size: 1em;
    }
    .ma-sum {
        padding: 15px 25px;
        font-size: 0.8em;
    }
    .main-article > details > div > p {
        font-size: 0.7em;
    }
    .adp-title-ap, .adp-title-fm {
        font-size: 1.5em;
    }
    .navbar a {
        padding: 15px;
    }
}